.footer {
	background: #222;
}
.footer-top {
	border-bottom: 1px solid #3c3c3c;
}
.copyright-text p {
	color: #999;
}
.copyright-text a{
	color:$base-color;
}
.footer-widgets-single h2 {
	font-size: 30px;
	color: #ddd;
	margin-bottom: 10px;
}
.footer-widgets-single p {
	color: #b9b6b6;
}
.footer-widgets-single h3 {
	font-size: 20px;
	color: #ddd;
	text-transform: capitalize;
	font-weight: 600;
	margin-bottom: 14px;
}
.footer-widgets-single ul li a {
	color: #999;
	font-size: 14px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	padding: 3px 0px;
	display: inline-block;
}
.footer-widgets-single ul li a:hover{
	color: #fff;
	padding-left: 10px;
}
.footer-widgets-single form {
	margin-top: 20px;
}
.footer-widgets-single form input {
	border: none;
	width: 100%;
	margin-bottom: 10px;
	padding: 16px 10px;
}
.footer-widgets-single form button {
	width: 100%;
	border: none;
}
.footer_payment{
	text-align: right;
	li{
		display: inline-block;
	}
}