
$base-color: #ea880d;
$base-hover-color: #de7f08;

@import "template-part/foundation.scss";
@import "template-part/header.scss";
@import "template-part/product-style.scss";
@import "template-part/mega_menu.scss";
@import "template-part/team.scss";
@import "template-part/testimonial.scss";
@import "template-part/infobox.scss"; 
@import "template-part/pricing-table.scss"; 
@import "template-part/blog.scss"; 
@import "template-part/breadcrum.scss"; 
@import "template-part/footer.scss"; 


.product-single {
	position: relative;
}
/*Scroll Area*/
.scroll-area {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    display: none;
}
.scroll-area i {
    width: 45px;
    height: 45px;
    background-color: $base-color;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}


.button-1 {
	background: $base-color;
	display: inline-block;
	padding: 15px 40px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .4s ease-in-out;
	position: relative;
	z-index: 1;
	text-align: center;
}
.button-1:after{
	content: "";
	clear: both;
	display: block;
	overflow: hidden;
	position: absolute;
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	background: $base-hover-color;
	z-index: -1;
	-webkit-transition: all .3s ease-in-out;
	transition: all .4s ease-in-out;
}
.button-1:hover:after{
	width: 100%;
}
.button-1:hover{
	color: #fff;
}
.button-2 {
	background: rgba(0, 0, 0, .8);
	display: inline-block;
	padding: 15px 40px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .4s ease-in-out;
	position: relative;
	z-index: 1;
	text-align: center;
}
.button-2:after{
	content: "";
	clear: both;
	display: block;
	overflow: hidden;
	position: absolute;
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	background: $base-color;
	z-index: -1;
	-webkit-transition: all .3s ease-in-out;
	transition: all .4s ease-in-out;
}
.button-2:hover:after{
	width: 100%;
}
.button-2:hover{
	color: #fff;
}
/*Animation*/
.active .hero-slider-single h2, .active .hero-slider-single a, .active .hero-slider-single p{
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.active .hero-slider-single p{
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.active .hero-slider-single a {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.hero-slider-single {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 200px;
	padding-bottom: 160px;
}
.hero-slider-single-content h2 {
	font-size: 40px;
	font-weight: 700;
	color: #000;
}
.hero-slider-single-content h2 span{
	color: $base-color;
	display: block;
}
.hero-slider-single-content p {
	font-size: 20px;
	margin-bottom: 20px;
}
.hero-area-full .owl-dot span {
	width: 20px;
	height: 20px;
	display: block;
	background: $base-color;
	left: 0;
	right: 0;
	margin: 0px 3px;
	border-radius: 50%;
	border: 3px solid $base-color;
	box-sizing: border-box;
}
.hero-area-full .owl-dot.active span{
	background: #fff;
}
.hero-area-full .owl-dots {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
}
/* 
 * banner
 */
.banner-item{
	width: 100%;
	overflow: hidden;
	img{
		width: 100%;
		-webkit-transition:all .4s ease;
		transition:all .4s ease-in-out;
	}
	&:hover{
		img{
			transform: scale(1.1);
		}
	}
}
.shipping-area{
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0px 20px;
	padding-top: 50px;
}
.banner-area{
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0px 20px;
	padding-top: 25px;
}
.shipping-item {
	width: 100%;
	overflow: hidden;
	.icon {
		float: left;
		margin-right: 10px;
	}
	.content {
		overflow: hidden;
		h4{
			font-size: 16px;
			font-weight: 600;
			line-height: 1;
		}
		p{
			font-size: 13px;
		}
	}
}
.section-bg {
	background: #cccccc1c;
}
.section-headding h2 {
	font-size: 28px;
}
.product-single {
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px 0px #cccccc3b;
	text-align: center;
}
.product-content {
	background: #cccccc5e;
	padding: 15px 10px;
}
.product-thumbnail-overly {
	width: 100%;
	overflow: hidden;
	-webkit-transiton: all .3s ease-in-out;
	transition: all .5s ease-in-out;
	transform: translateX(100%)
}
.product-single:hover .product-thumbnail-overly{
	transform: translateX(0%)
}
.product-thumbnail-overly ul li {
	display: inline-block;
	width: 33.33%;
	float: left;
	overflow: hidden;
	border-right: 1px solid #ccc;
	box-sizing: border-box;
}
.product-thumbnail-overly ul li:last-child{
	border: none;
}
.product-thumbnail-overly ul li a {
	display: block;
	width: 100%;
	background: $base-color;
	color: #fff;
	padding: 14px 1px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.product-thumbnail-overly ul li a:hover{
	background: #000;
}
.product-content h4 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
}
.product-content h4 a{
	color: #333;
}
.product-content h4 a:hover{
	color: $base-color;
}
.pricing span {
	font-size: 18px;
	font-weight: 600;
}
.pricing span del {
	color: $base-color;
	font-size: 14px;
}
.text-right{
	text-align: right;
}
.sales-banner {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.sales-banner .text-right {
	float: right;
}
.sales-banner-content h3 {
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}
.sales-banner-content h3 span{
	color: $base-color;
}
.latest-product-full .product-single {
	box-sizing: border-box;
	width: 90%;
	margin: 8px auto;
}
.latest-product-full .owl-nav .owl-prev {
	position: absolute;
	top: 44%;
	left: 0;
}
.latest-product-full .owl-nav .owl-next {
	position: absolute;
	top: 44%;
	right: 0;
}
.latestProduct-slider-nav {
	width: 35px;
	height: 35px;
	background: $base-color;
	margin: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color: #fff;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.latestProduct-slider-nav:hover{
	background: #000;
}
.deal-title {
	position: relative;
	margin-bottom: 20px;
	padding-bottom: 10px;
	font-size: 20px;
	font-weight: 600;
}
.deal-title::after {
	content: "";
	clear: both;
	display: block;
	overflow: hidden;
	position: absolute;
	width: 60px;
	height: 2px;
	background: $base-color;
	bottom: 0;
}
.deal-title::before {
	content: "";
	clear: both;
	display: block;
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 2px;
	background: #ece5e5;
	bottom: 0;
}
.deal-popular-product-single {
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
	position: relative;
	padding-left: 100px;
}
.deal-popular-product-single img {
	width: 80px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
	border: 1px solid #ccc;
}
.deal-popular-product-single.read-btn {
	padding-left: 0;
}
.deal-popular-product-single.read-btn a {
	display: inline-block;
	padding: 12px 30px;
	background: $base-color;
	border-radius: 50px;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	-webkit-transition: all .3s ease-in-out;
	transition: all.3s ease-in-out;
}
.deal-popular-product-single.read-btn a:hover{
	background: #000;
}
.deal-popular-product-single .content h5 {
	font-size: 20px;
	line-height: 1;
	padding-bottom: 6px;
}
.deal-popular-product-single .content h5 a{
	color: #333;
}
.deal-popular-product-single .content h5 a:hover{
	color: $base-color;
}
.deal-product-slider-single-img img {
	width: 100%;
}
.deal-product-slider-single {
	padding: 15px 10px;
	border: 2px solid #ddd;
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
}
.deal-product-slider-single-content .left {
	float: left;
	overflow: hidden;
}
.deal-product-slider-single-content .left .count-time ul li {
	display: block;
	text-align: center;
	border: 2px solid #ddd;
	box-sizing: border-box;
	padding: 10px;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}
.deal-product-slider-single-content .left .count-time ul li:last-child{
	margin-bottom: 0px;
}
.deal-product-slider-single-content .left .count-time ul li span {
	display: block;
	font-size: 14px;
	color: #666;
	text-transform: uppercase;
	line-height: 1;
}
.deal-product-slider-single-content .right {
	overflow: hidden;
	padding-left: 10px;
}
.deal-popular-product-single {
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
	position: relative;
	padding-left: 80px;
	padding-bottom: 5px;
}
.deal-popular-product-single .content h5 {
	font-size: 16px;
	line-height: 1;
	padding-bottom: 2px;
}
.deal-popular-product-single img {
	width: 72px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
	border: 1px solid #ccc;
}
.deal-product-slider-single-content .right h3 {
	font-size: 20px;
	font-weight: 600;
}
.deal-product-slider-single-content .right h3 a{
	color: #333;
}
.deal-product-slider-single-content .right h3 a:hover{
	color: $base-color;
}
.ratting span i {
	font-size: 14px;
	margin-bottom: 10px;
	color: #fd784f;
}
.deal-product-slider-single-content .right p {
	margin-bottom: 10px;
	margin-top: 5px;
	line-height: 26px;
}
.blog-item {
	width: 100%;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	box-shadow: 1px 1px 10px 6px #e8e8e891;
	border-radius: 10px;
}
.blog-item .thumnail {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.blog-item .thumnail:after{
	content: "";
	clear: both;
	display: block;
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .6);
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	opacity: 0;
	z-index: -1;
}
.blog-item:hover .thumnail:after{
	opacity: 1;
}
.blog-item .thumnail img{
	width: 100%;
}
.blog-item .content {
	padding: 15px 20px;
}
.blog-item .content .auth {
	margin-bottom: 10px;
	border-bottom: 1px solid #cccccc38;
	padding-bottom: 10px;
}
.blog-item .content .auth li {
	display: inline-block;
	position: relative;
	padding: 0px 6px;
}
.blog-item .content .auth li::after {
	content: "/";
	position: absolute;
	top: 0;
	left: -6px;
	color: #333;
	font-weight: 600;
}
.blog-item .content .auth li:first-child:after{
 content: "";
}
.blog-item .content .auth li a{
	color: #333;
}
.blog-item .content h2 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 12px;
}
.blog-item .content h2 a{
	color: #333;
}
.blog-item .content h2 a:hover{
	color: $base-color;
}
.blog-item .content p {
	font-size: 16px;
	margin-bottom: 20px;
}
.instagram-single img {
	width: 100%;
	cursor: pointer;
}
.instagram-single-overly {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	// background: rgb(0,0,0,.5);
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	transform: scale(.3);
	opacity: 0;
	cursor: pointer;
}
.instagram-single:hover .instagram-single-overly{
	opacity: 1;
	transform: scale(1);
}
.instagram-single-overly i{
	font-size: 30px;
	color: #fff;
}
.about-img img {
	width: 100%;
}
.about-img {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.about-img::after {
	content: "";
	clear: both;
	display: block;
	overflow: hidden;
	position: absolute;
	// background: rgb(0,0,0,.5);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.about-content h3 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
}
.about-content p {
	font-size: 14px;
	margin-bottom: 12px;
	line-height: 24px;
}
.about-content p.active {
	background: #f7f7f7 none repeat scroll 0 0;
	border: medium none;
	font-size: 14px;
	font-style: italic;
	margin: 20px 0;
	padding: 30px 45px;
}
.item-box-1 {
	text-align: center;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px 0px #cccc;
	padding: 40px 30px;
}
.item-box-1 i {
	color: $base-color;
	font-size: 40px;
	margin-bottom: 20px;
}
.item-box-1 h4 {
	font-size: 16px;
}
.item-box-1 p {
	font-size: 15px;
}
.contact-form h3 {
	font-size: 24px;
	text-transform: capitalize;
	margin-bottom: 15px;
	font-weight: 600;
}
.contact-form .form input {
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 0px;
	border: 1px solid #f7f7f7;
	background: #f7f7f7;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.contact-form .form input:focus{
	background: #fff;
	border-color: #ccc;
}
.contact-form .form textarea{
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 0px;
	border: 1px solid #f7f7f7;
	background: #f7f7f7;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	height: 150px;
}
.contact-form .form textarea:focus{
	background: #fff;
	border-color: #ccc;
}
.contact-form .form button{
	border: none;
}
.contact-info h3 {
	font-size: 24px;
	text-transform: capitalize;
	margin-bottom: 15px;
	font-weight: 600;
}
.contact-info p {
	font-size: 14px;
}
.contact-info p {
	font-size: 14px;
	color: #777;
}
.contact-info ul {
	margin-top: 20px;
	margin-bottom: 20px;
}
.contact-info ul li {
	line-height: 35px;
	font-size: 18px;
}
.contact-info ul li i {
	color: $base-color;
	font-size: 20px;
	padding-right: 10px;
}
/*Pagination*/
.page-pagination ul li{
	display: inline-block;
	padding: 0px 3px;
}
.page-pagination ul li a {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	font-weight: 700;
	color: #333;
	border-radius: 50%;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px 0px #ccc;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.page-pagination ul li a:hover{
	background: $base-color;
	color: #fff;
}
.page-pagination ul li span{
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $base-color;
	font-weight: 700;
	color: #fff;
	border-radius: 50%;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px 0px #ccc;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
/*
 * Widgets
*/
.sidebar-widgets {
	margin-bottom: 30px;
	box-shadow: 1px 1px 10px 6px #e8e8e891;
	padding: 25px 20px;
	overflow: hidden;
	border-radius: 5px;
}
.sidebar-widgets h4.title {
	position: relative;
	margin-bottom: 10px;
	line-height: 1;
	font-size: 22px;
	font-weight: 600;
	color: #666;
	padding-left: 14px;
}
.sidebar-widgets h4.title::after {
	content: "";
	clear: both;
	display: block;
	overflow: hidden;
	position: absolute;
	width: 6px;
	height: 100%;
	background: $base-color;
	top: 0;
	left: 0;
}
.sidebar-widgets form {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.sidebar-widgets form input {
	width: 100%;
	height: 55px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 0px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.sidebar-widgets form input:focus{
	border-color: $base-color;
}
.sidebar-widgets form button {
	position: absolute;
	right: 10px;
	border: none;
	background: none;
	color: #333;
	height: 55px;
}
.sidebar-widgets form button:hover{
	color: $base-color;
}
.sidebar-widgets ul li {
	display: block;
	border-bottom: 1px solid #cccc;
	padding: 3px 0px;
}
.sidebar-widgets ul li:last-child{
	border: none;
}
.sidebar-widgets ul li a {
	color: #5b5858;
	padding: 6px 0px;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
}
.widgets-latest-product-single {
	width: 100%;
	overflow: hidden;
	position: relative;
	padding-left: 80px;
	margin-top: 10px;
}
.sidebar-widgets ul li a:hover{
	color: $base-color;
}
.widgets-latest-product-single .thumbanil {
	position: absolute;
	top: 0;
	left: 0;
	width: 70px;
}
.widgets-latest-product-single .thumbanil img {
	width: 100%;
	border: 1px solid #cccc;
	box-sizing: border-box;
}
.widgets-latest-product-single .content h4 {
	font-size: 18px;
	line-height: 1;
}
.widgets-latest-product-single .content h4 a{
	color: #666;
}
.widgets-latest-product-single:hover .content h4 a{
	color: $base-color;
}
.widgets-latest-product-full {
	width: 100%;
	overflow: hidden;
}
.sidebar-widgets .tags a {
	display: inline-block;
	padding: 3px 10px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	color: #777;
	border: 2px solid #777;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	margin: 2px;
}
.sidebar-widgets .tags a:hover{
	background: $base-color;
	color: #fff;
	border-color: $base-color;
}
.blog-item .content p.active {
	border-left: 5px solid $base-color;
	margin: 25px 32px 25px 20px;
	background-color: #f7f7f7;
	padding: 15px;
}
.blog-comment-list {
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	box-shadow: 1px 1px 10px 6px #e8e8e891;
	border-radius: 10px;
	padding: 15px;
}
.blog-comment-list h4 {
	font-size: 25px;
	margin-bottom: 30px;
	color: #666;
	font-weight: 600;
}
.blog-comment-list ul li.comment-single {
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	padding-left: 100px;
	margin-bottom: 30px;
	position: relative;
}
.blog-comment-list ul li.comment-single img {
	position: absolute;
	left: 0;
	top: 0;
	width: 80px;
}
.comment-single-contetn h4 {
	font-size: 17px;
	margin: 0;
	text-transform: capitalize;
	margin-bottom: 2px;
}
.comment-single-contetn span{
	font-size: 14px;
	color: #999;
}
.comment-single-contetn p {
	margin-top: 10px;
}
.comment-single-contetn .reply {
	position: absolute;
	top: 0;
	right: 5px;
}
.comment-single-contetn .reply a {
	text-transform: capitalize;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1px;
	border: 1px solid #ccc;
	color: #666;
	padding: 6px 14px;
	box-sizing: border-box;
	display: inline-block;
	border-radius: 30px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.comment-single-contetn .reply a:hover{
	color: #fff;
	border-color: $base-color;
	background: $base-color;
}
.comment-reply li {
	margin-top: 24px;
}
.comment-form {
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	box-shadow: 1px 1px 10px 6px #e8e8e891;
	border-radius: 10px;
	padding: 15px;
}
.comment-form h4 {
	font-size: 25px;
	margin-bottom: 30px;
	color: #666;
	font-weight: 600;
}
.comment-form input {
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 0px;
	border: 1px solid #ccc;
	-webkit-transition: all .3s ease-in-out;
	transition: all.3s ease-in-out;
}
.comment-form input:focus{
	border-color: $base-color;
}
.comment-form textarea {
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 0px;
	border: 1px solid #ccc;
	height: 160px;
	-webkit-transition: all .3s ease-in-out;
	transition: all.3s ease-in-out;
}
.comment-form textarea:focus{
	border-color: $base-color;
}
.comment-form button {
	border: none;
}
.product-view-mode {
	float: left;
	padding-right: 15px;
}
.product-view-mode a {
	margin: 0px 4px;
	color: #333;
	font-size: 20px;
}
.product-view-mode a.active{
	color: $base-color;
}
.top-bar-left .product-amount p {
	padding-top: 4px;
	font-size: 14px;
}
.top-bar-right select {
	border: 1px solid #ccc;
	border-radius: 0px;
}
.top-bar-right select:focus{
	box-shadow: none;
}
.product-single-list-view {
	width: 100%;
	overflow: hidden;
	box-shadow: 0 0 7px rgba(0,0,0,0.1);
}
.product-content-list-view {
	height: 100%;
	background: #f1f2e9ad;
	padding: 10px;
}
.product-content-list-view h4 {
	font-size: 18px;
	font-weight: 600;
}
.product-content-list-view h4 a{
	color: #333;
}
.product-content-list-view h4 a:hover{
	color: $base-color;
}
.product-content-list-view ul {
	margin-top: 20px;
}
.product-content-list-view ul li {
	display: inline-block;
	margin: 0px 4px;
}
.product-content-list-view ul li a {
	width: 40px;
	display: flex;
	height: 40px;
	border-radius: 50%;
	color: #fff;
	background: $base-color;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	-webkit-transition: all.3s ease-in-out;
	transition: all.3s ease-in-out;
}
.product-content-list-view ul li a:hover{
	background: #333;
	color: #fff;
}
.product-details-img {
	width: 100%;
	overflow: hidden;
	border: 1px solid #ccc;
	padding: 10px;
}
.product-details-img img{
	width: 100%;
}
.variants_size h5 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
	color: #000;
	margin-bottom: 4px;
}
.variants_color h5 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
	color: #000;
	margin-bottom: 4px;
}
.variants_size {
	margin-bottom: 20px;
}
.variants_color {
	margin-bottom: 20px;
}
.variants_size .form-select {
	border-radius: 0px;
	-webkit-transition:all .3s ease-in-out;
	transition: all .3s ease-in-out;
	padding: 14px 10px;
}
.variants_color .form-select {
	border-radius: 0px;
	-webkit-transition:all .3s ease-in-out;
	transition: all .3s ease-in-out;
	padding: 14px 10px;
}
.variants_size .form-select:focus {
	border-radius: 0px;
	border-color: #FF4800;
	box-shadow: none;
}
.variants_color .form-select:focus {
	border-radius: 0px;
	border-color: #FF4800;
	box-shadow: none;
}
.product-details-img-full h2 {
	font-size: 24px;
	font-weight: 600;
}
.product-details-img-full p {
	margin-bottom: 20px;
}
.modal_add_to_cart button {
	margin-left: 20px;
	border: none;
}
.modal_add_to_cart {
	margin-bottom: 20px;
}
.modal_add_to_cart input {
	width: 115px;
	height: 43px;
	border-radius: 0px;
	border: 1px solid #ccc;
	padding-left: 6px;
}
.product-details-img-full h3 {
	font-size: 20px;
	font-weight: 600;
}
.share-product li {
	display: inline-block;
	margin: 0px 4px;
}
.share-product li a {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: $base-color;
	color: #fff;
	font-size: 12px;
}
.share-product li a:hover{
	background: #333;
}
.shop-details-full-content ul li button {
	padding: 20px 30px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 1px;
	border-radius: 0px;
}
.shop-details-full-content .tab-pane {
	padding: 10px;
}
.shop-details-full-content .tab-pane p{
	margin-bottom: 20px;
	line-height: 28px;
}
.product-review-list h3 {
	font-size: 20px;
	margin-bottom: 20px;
}
.product-review-form h3 {
	font-size: 20px;
	margin-bottom: 20px;
}
.product-review-list {
	margin-bottom: 20px;
	border-bottom: 1px solid #cccccc45;
}
.review-single {
	box-sizing: border-box;
	box-shadow: 0px 0px 10px 0px #cccccc45;
	margin-bottom: 30px;
	padding: 15px;
	position: relative;
	padding-left: 100px;
	overflow: hidden;
	display: inherit !important;
	text-align: left !important;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	cursor: inherit !important;
}
.review-single img {
	position: absolute;
	top: 15px;
	left: 15px;
	width: 70px;
}
.review-single h5 {
	font-size: 18px;
}
.review-single .ratting {
	margin-bottom: 2px;
}
.product-review-form input {
	width: 100%;
	margin-bottom: 20px;
	border-radius: 0px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.product-review-form textarea {
	width: 100%;
	margin-bottom: 20px;
	border-radius: 0px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	height: 160px;
}
.product-review-form input:focus{
	box-shadow: none;
	border-color: #FF4800;
}
.product-review-form textarea:focus{
	box-shadow: none;
	border-color: #FF4800;
}
.product-review-form button {
	padding: 15px 30px;
	border: 2px solid #FF4800;
	background: #FF4800;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.product-review-form button:hover {
	background: #fff;
	color: #333;
}
.error-404-page {
	text-align: center;
	background: #d2cfcf;
}
.error-404-full-content h3 {
	font-size: 130px;
	font-weight: 900;
	color: #000;
	letter-spacing: 10px;
}
.error-404-full-content h4 {
	margin-bottom: 10px;
	color: $base-color;
	font-size: 30px;
	font-weight: 600;
}
.error-404-full-content p {
	margin-bottom: 10px;
	font-size: 18px;
}
.faq-full-content .accordion-item {
	margin-bottom: 20px;
	border: none;
}
.faq-full-content .accordion-item h2 span {
	width: 100%;
	font-size: 16px;
	font-weight: 600;
	background: #ccc;
	display: block;
	padding: 10px 20px;
	color: #262121;
	position: relative;
	border-bottom: 2px solid $base-color;
}
.faq-full-content .accordion-item h2 span.collapsed{
	border-bottom: none;
}
.faq-full-content .accordion-item h2 span.collapsed::after {
	content: "+";
	clear: both;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0px;
	height: 100%;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $base-color;
	color: #fff;
	font-size: 20px;
}
.faq-full-content .accordion-item h2 span::after{
	content: "-";
	clear: both;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0px;
	height: 100%;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $base-color;
	color: #fff;
	font-size: 20px;
}
.faq-full-content .accordion-item h2 {
	line-height: 1;
	padding: 0;
	margin: 0;
}
.faq-full-content .accordion-item .accordion-body {
	padding: 10px;
	box-sizing: border-box;
	background: #ccc;
	text-align: justify;
}
.faq-contact-form input {
	width: 100%;
	border-radius: 0px;
	border: 1px solid #ccc;
	padding: 10px 20px;
	margin-bottom: 10px;
}
.faq-contact-form textarea {
	width: 100%;
	border-radius: 0px;
	border: 1px solid #ccc;
	padding: 10px 20px;
	margin-bottom: 10px;
	height: 140px;
}
.faq-contact-form button{
	width: 100%;
	border: none;
}
.ml-auto, .mx-auto {
	margin-left: auto !important;
}
.cart-table.table-responsive thead {
	background: $base-color;
	color: #fff;
}
.cart-table.table-responsive thead th {
	padding: 18px 0px;
}
.pro-thumbnail img {
	width: 100px;
}
.cart-table .pro-title a {
	color: #333;
	font-weight: 600;
}
.cart-table .pro-title a:hover{
	color: $base-color;
}
.cart-table .pro-remove a {
	color: #333;
}
.cart-table .pro-remove a:hover{
	color: $base-color;
}
.cart-table .pro-quantity input {
	width: 100px;
	padding: 10px;
	border-radius: 0px;
	border: 1px solid #ccc;
}
.apply-coupon-wrapper input {
	width: 200px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 0px;
	margin-right: 10px;
}
.apply-coupon-wrapper button.button-1 {
	border: none;
}
.cart-calculate-items h3 {
	font-size: 20px;
	padding-left: 15px;
	padding-top: 20px;
}
.cart-calculate-items .table-responsive tr td {
	padding-left: 20px;
}
.cart-calculator-wrapper a.button-1 {
	width: 100%;
}
.checkout-billing-details-wrap h2 {
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 1px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}
.single-input-item {
	margin-bottom: 20px;
	width: 100%;
	overflow: hidden;
}
.single-input-item label {
	display: block;
	font-weight: 400;
	color: #666;
	padding-bottom: 4px;
}
.single-input-item input {
	width: 100%;
	border-radius: 0px;
	border: 1px solid #ccc;
	padding: 15px 15px;
	-webkit-transition: all .3s ease-in-out;
	transition: all.3s ease-in-out;
	background: #fff;
}
.single-input-item input:focus{
	border-color: $base-color;
}
.single-input-item textarea {
	width: 100%;
	border-radius: 0px;
	border: 1px solid #ccc;
	padding: 15px 15px;
	-webkit-transition: all .3s ease-in-out;
	transition: all.3s ease-in-out;
	background: #fff;
	height: 160px;
}
.single-input-item textarea:focus{
	border-color: $base-color;
}
.single-input-item select.form-select {
	width: 100%;
	border-radius: 0px;
	border: 1px solid #ccc;
	padding: 15px 15px;
	-webkit-transition: all .3s ease-in-out;
	transition: all.3s ease-in-out;
	background: #fff;
}
.single-input-item select.form-select:focus{
	border-color: $base-color;
	box-shadow: none;
}
.single-input-item .form-check {
	width: auto;
}
.single-input-item .form-check .form-check-input {
	width: auto;
	border: 1px solid #ccc;
	padding: 8px;
	margin-right: 10px;
	border-radius: 0px;
}
.single-input-item .form-check .inline {
	padding-bottom: 0px;
}
.order-summary-details h2 {
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 1px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}
.single-input-item .form-check .form-check-input {;
	margin-top: 2px;
}
.order-summary-content {
	background: #f7f7f7;
}
.order-summary-table thead {
	background: $base-color;
	color: #fff;
}
.form-group.payment h4 {
	font-weight: 500;
}
.order-summary-content tr td {
	padding: 15px 0px;
}
.order-summary-content tr td a {
	color: #333;
}
.form-group.payment h4 {
	font-size: 20px;
	text-align: left;
}
.form-group.payment {
	text-align: left;
	padding-left: 20px;
	padding-bottom: 20px;
}
.form-group.payment button.button-1 {
	width: 100%;
	border: none;
	margin-top: 5px;
}
.form-group.payment p {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 10px;
}
.order-summary-content tr td {
	text-align: left;
	padding-left: 20px;
}
.order-summary-table thead tr th {
	text-align: left;
	padding-left: 20px;
}
.form-group.payment h4 {
	margin-right: 20px;
}
.form-group.payment .grand-total {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 20px;
	display: block;
}
.login-register-form-full {
	width: 100%;
	box-sizing: border-box;
	box-shadow: 0px 0px 32px -7px #ccc;
	padding: 30px 30px;
}
.login-register-form-full h3 {
	text-align: center;
	margin-bottom: 15px;
	font-weight: 600;
	font-size: 30px;
}
.login-register-form-full .form-control {
	margin-bottom: 20px;
	border-radius: 0px;
	padding: 15px 20px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	border: 1px solid #ccc;
}
.login-register-form-full .form-control:focus{
	box-shadow: none;
	border-color: $base-color;
}
.login-register-form-full .form-check-input {
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 0px;
	margin-right: 10px;
}
.login-register-form-full a{
	color: #333;
}
.login-register-form-full a:hover{
	color: $base-color;
}
.login-register-form-full .button-1 {
	width: 100%;
	border: none;
}
.login-register-form-full p {
	margin-top: 20px;
}
.privacy-policy-content {
	width: 100%;
	box-sizing: border-box;
	box-shadow: 0px 0px 32px -7px #ccc;
	padding: 30px 30px;
	text-align: justify;
}
.privacy-policy-content h3 {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 10px;
}
.privacy-policy-content p {
	margin-bottom: 20px;
	line-height: 28px;
}
.privacy-policy-content h4 {
	font-size: 20px;
	font-weight: 600;
	color: #333;
}
.privacy-policy-content .active {
	background: #f7f7f7 none repeat scroll 0 0;
	border: medium none;
	font-size: 18px;
	font-style: italic;
	margin: 20px 0;
	padding: 30px 45px;
}
/*
 * Mobbile Menu
*/
.off_canvars_overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  cursor: crosshair;
  background: #232323;
  top: 0;
}
.off_canvars_overlay.active {
  opacity: 0.5;
  visibility: visible;
}

.offcanvas_menu {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .offcanvas_menu {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .offcanvas_menu {
    display: block;
  }
}

.offcanvas_menu_wrapper {
	width: 290px;
	position: fixed;
	background: #fff;
	z-index: 999;
	top: 0;
	height: 100vh;
	transition: .5s;
	left: 0;
	margin-left: -300px;
	padding: 20px 0px 30px;
	overflow-y: auto;
}
.offcanvas_menu_wrapper.active {
  margin-left: 0;
}
.offcanvas_menu_wrapper .slinky-theme-default {
  background: inherit;
  min-height: 300px;
  overflow-y: auto;
}
.offcanvas_menu_wrapper .header_search_box {
  display: block;
}

.offcanvas_main_menu > li.menu-item-has-children.menu-open > span.menu-expand {
  transform: rotate(180deg);
}
.offcanvas_main_menu > li ul li.menu-item-has-children.menu-open span.menu-expand {
  transform: rotate(180deg);
}

.offcanvas_main_menu li {
  position: relative;
}
.offcanvas_main_menu li:last-child {
  margin: 0;
}
.offcanvas_main_menu li span.menu-expand {
  position: absolute;
  right: 10px;
}
.offcanvas_main_menu li a {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  display: block;
  padding: 0px 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ededed;
  color: #333;
}
.offcanvas_main_menu li a:hover {
  color: #FF4800;
}
.offcanvas_main_menu li ul.sub-menu {
  padding-left: 20px;
}

.offcanvas_footer {
  margin-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.offcanvas_footer span a {
  font-size: 14px;
}
.offcanvas_footer span a:hover {
  color: #FF4800;
}

.slinky-theme-default a:not(.back) {
  padding: 10px 0;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
}
.slinky-theme-default a:not(.back):hover {
  background: inherit;
  color: #FF4800;
}

.canvas_close {
  position: absolute;
  top: 10px;
  right: 13px;
}
.canvas_close a {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  width: 32px;
  height: 32px;
  display: block;
  text-align: center;
  line-height: 32px;
  border: 1px solid #ededed;
  border-radius: 50%;
  color: #333;
}
.canvas_close a:hover {
  background: #FF4800;
  border-color: #FF4800;
  color: #fff;
}
.mobile-logo {
	padding-left: 20px;
	margin-bottom: 20px;
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  .canvas_open {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .canvas_open {
    right: 20px;
    top: 27px;
    display: block;
    width: 36px;
  }
}
.canvas_open a {
  font-size: 27px;
  width: 41px;
  height: 37px;
  display: block;
  line-height: 37px;
  text-align: center;
  color: #232323;
}
@media only screen and (max-width: 767px) {
  .canvas_open a {
    width: 36px;
    height: 34px;
    line-height: 33px;
    font-size: 27px;
  }
}
.canvas_open a:hover {
  border-color: #fe3737;
}

.mobile-logo h2 {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 900;
}
.mobile-logo h2 a{
	color: #333;
}
.desktop-mini-cart {
	text-align: right;
	height: 100%;
	float: right;
}
.mobile-mini-cart .mini-cart-icon .counter {
	background: #333;
	color: #fff;
}
.contact-map {
	height: 400px !important;
	height: 100%;
}
.form-group.payment ul {
	margin-bottom: 10px;
}
.form-group.payment ul li {
	line-height: 26px;
	padding: 2px 0px;
}
.form-group.payment ul li .form-check-input {
	margin-right: 8px;
	padding: 8px;
	border-radius: 0px;
}
.sale-badge {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9;
	background: $base-color;
	padding: 4px 20px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 12px;
}
.discount-badge {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9;
	background: $base-hover-color;
	padding: 4px 20px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 12px;
}

/* 
 *  Section Headding
 */
.section-headding-1{
	h2{
		text-align: center;
		font-size: 26px;
		font-weight: 600;
		letter-spacing: 1px;
		position: relative;
		&:after{
			content: "";
			clear: both;
			display: block;
			overflow: hidden;
			position: absolute;
			width: 100%;
			height: 2px;
			background: #eee;
			top: 46%;
			z-index: -1;
		}
		span{
			background: #fff;
			padding: 0px 10px;
		}
	}
}
.section-headding-2{
	h2{
		font-size: 26px;
		font-weight: 600;
		letter-spacing: 1px;
		position: relative;
		&:after{
			content: "";
			clear: both;
			display: block;
			overflow: hidden;
			position: absolute;
			width: 100%;
			height: 2px;
			background: #eee;
			top: 46%;
			z-index: -1;
		}
		span{
			background: #fff;
			padding-right: 10px;
		}
	}
}
.section-headding-3{
	h2{
		font-size: 26px;
		font-weight: 600;
		letter-spacing: 1px;
		position: relative;
		text-align: center;
		padding-bottom: 18px;
		&:after{
			content: "";
			clear: both;
			display: block;
			overflow: hidden;
			position: absolute;
			width: 120px;
			height: 2px;
			background: $base-color;
			bottom: 0;
			z-index: 1;
			margin: 0 auto;
			left: 0;
			right: 0;
		}
		&:before{
			content: "";
			clear: both;
			display: block;
			overflow: hidden;
			position: absolute;
			width: 10px;
			height: 10px;
			background: #ff4c3b;
			bottom: 6px;
			z-index: 1;
			margin: 0 auto;
			left: 0;
			right: 0;
			border-radius: 50%;
		}
		span{
			background: #fff;
			padding-right: 10px;
		}
	}
}
.section-bg-3{
	background:#F8F8F8;
}
.product-category-img img {
	width: 100%;
}
.modal_tab_img {
	text-align: center;
	background: #eee;
	padding: 30px;
	img{
		width: 66%;
	}
}
.product_navactive li {
	background: #eee;
	width: 92%;
	margin: 10px auto;
}
.product_navactive{
	.owl-prev {
		position: absolute;
		top: 36%;
		left: 0;
	}
	.owl-next {
		position: absolute;
		top: 36%;
		right: 0;
	}
	.quickview-slider-nav {
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $base-color;
		color: #fff;
		border-radius: 50%;
	}
}
.menu nav ul li a i {
	font-size: 16px;
	padding-left: 4px;
	transition: all .4s ease-in-out;
	transform: rotate(0deg);
	display: inline-block;
	line-height: 1.18;
}
.menu nav ul li:hover a i{
	transform: rotate(180deg);
}
.quantity input[type=number]::-webkit-inner-spin-button,
.quantity input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

.quantity input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 45px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}
.quantity {
	position: relative;
	width: 150px;
	display: block;
}
.quantity-nav {
  height: 42px;
}
.quantity input[type="number"] {
	width: 150px;
	text-align: center;
	padding-left: 0;
}
.quantity-button.quantity-up {
	position: absolute;
	top: 0;
	right: 0px;
	height: 100%;
	display: flex;
	width: 30px;
	background: #333;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	color: #fff;
	cursor: pointer;
	-webkit-transition:all .4s ease;
	transition:all .4s ease;
	&:hover{
		background: $base-color;
	}
}
.quantity-button.quantity-down {
	position: absolute;
	top: 0;
	left: 0px;
	height: 100%;
	display: flex;
	width: 30px;
	background: #333;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	color: #fff;
	cursor: pointer;
	-webkit-transition:all .4s ease;
	transition:all .4s ease;
	&:hover{
		background: $base-color;
	}
}
.pro-quantity .quantity {
	margin: 0 auto;
}
.modal_add_to_cart form .quantity {
	float: left;
}
.modal_add_to_cart form .quantity input {
	height: 49px;
}
.modal_add_to_cart form .quantity .quantity-nav{
	height: 49px;
}

.login-register-form-full{
	a{
		color: $base-color;
	}
}
.login-register-form-full .form-check-label {
	padding-top: 4px;
}
.product-tab-style.product-tab-style-3 ul {
	text-align: left;
}

.product-tab-style ul li .nav-link.active {
	color: #fff !important;
	border-color: $base-color;
	background: $base-color;
}
.section-border {
	border-top: 1px solid #eee;
}
.p-widgets-single {
	box-sizing: border-box;
	box-shadow: 0px 0px 10px 0px #eee;
	.thumbnail{
		img{
			width: 100%;
		}
	}
	.content {
		h4 {
			font-size: 15px;
			line-height: 1;
			margin: 0;
			padding-bottom: 3px;
			font-weight: 600;
			a{
				color: #333;
				&:hover{
					color: $base-color;
				}
			}
		}
	}
}
.instagram-single-overly i {
	font-size: 50px;
	color: #fff;
	transform: rotate(80deg);
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.instagram-single{
	&:hover .instagram-single-overly i{
		transform:rotate(0deg);
	}
}
.preeloader {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	background: #fff;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
}
.sk-circle {
  width: 100px;
  height: 100px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 20%;
  height: 20%;
  background-color: $base-color;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.instagram-single {
	width: 100%;
	overflow: hidden;
	position: relative;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	.instagram-single-overly{
		z-index: 1;
	}
	&:after{
		content: "";
		clear: both;
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		-webkit-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		background: #ffffff63;
		opacity: 0;
		visibility: hidden;
	}
	&:hover{
		&:after{
			opacity: 1;
			visibility: visible;
		}
	}
}
.hero-area-full{
	.owl-nav{
		.owl-prev {
			position: absolute;
			top: 45%;
			left: 50px;
		}
		.owl-next {
			position: absolute;
			top: 45%;
			right: 50px;
		}
		.hero-slider-nav {
			width: 50px;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 2px solid #b5b1b1;
			font-size: 22px;
			border-radius: 50%;
			color: #333;
			background: #b5b1b1;
			-webkit-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
			&:hover{
				color: #fff;
				background: $base-color;
				border-color: $base-color;
			}
		}
	}
}
.weekly-discount-single{
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
	img{
		width: 100%;
	}
	a{
		width: 100%;
		overflow: hidden;
		position: relative;
		z-index: 1;
		display: inline-block;
		&:after{
			content: "";
			clear: both;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 50%;
			height: 0%;
			background: #ffffff6b;
			-webkit-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
		}
		&:before{
			content: "";
			clear: both;
			display: block;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 50%;
			height: 0%;
			background: #ffffff6b;
			transition: all .4s ease-in-out;
		}
		&:hover{
			&:after{
				height: 100%;
			}
			&:before{
				height: 100%;
			}
		}
	}
	
}